.sub-nav {
    padding-right: 12rem;
}
.sub-nav dt, .sub-nav dd, .sub-nav li {
	    float: right;
		font-family:Tahoma, Geneva, sans-serif;
}

.large-4, .large-3 , .large-6, .large-12{
	direction:rtl;
}

@font-face {
    font-family: 'yekan';
	src: url('../fonts/BYekan.woff') format('woff'); 
}
.panel h1, .panel h2, .panel h3, .panel h4, .panel h5, .panel h6 {
	direction:rtl;
	font-family:'yekan', Tahoma, Geneva, sans-serif;
}
.panel li{

    font-size: 13px;
}
ul {
    margin-left: 0rem;
	margin-right:1.1rem;
}
.tab-title.active a {
    font-size: 12px;
}
.tabs .tab-title > a {
    font-size: 12px;

}
img {
    margin: 0 auto;
}
.panel {

    margin-bottom: 1.25rem;
    padding: 0.25rem;
        padding-top: 0.25rem;
        padding-right-value: 0.25rem;
        padding-bottom: 0.25rem;
        padding-left-value: 0.25rem;

}
table tr td {
    font-family: tahoma;
    font-size: 12px;
}
.tabs dd, .tabs .tab-title {
    float: right;
}

.tabs .tab-title > a {
    padding: 0.5rem 1rem;
        padding-top: 0.5rem;
        padding-right-value: 1rem;
        padding-bottom: 0.5rem;
        padding-left-value: 1rem;

}